pkgbase = wikiquote-fetcher
	pkgdesc = Fetch quotes from Wikiquote, translate them, and manage reusable quote pools
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/efebaykaraa/wikiquote-fetcher
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	source = wikiquote-fetcher-1.1.0.tar.gz::https://github.com/efebaykaraa/wikiquote-fetcher/archive/refs/tags/v1.1.0.tar.gz
	sha256sums = 564d18df3480c08ef477a2b653952a9dcde58266e8f7ce6436326fbc1ebd0911

pkgname = wikiquote-fetcher
