pkgbase = wikiquote-fetcher
	pkgdesc = Reusable Wikiquote quote fetching and translation library with CLI
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/efebaykaraa/wikiquote-fetcher
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	source = wikiquote-fetcher-1.0.1.tar.gz::https://github.com/efebaykaraa/wikiquote-fetcher/archive/refs/tags/v1.0.1.tar.gz
	sha256sums = SKIP

pkgname = wikiquote-fetcher
